body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

blockquote {
  margin: 0;
}

ol {
  padding-left: 20px;
}

h1 {
  font-size: 18px;
}

img {
  width: 100%;
}